@font-face {
  font-family: "Flaticon Amenities";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("../fonts/flaticon.woff") format("woff"),
  url("../fonts/flaticon.ttf") format("truetype"),
  url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-a-"]:before, [class*=" flaticon-a-"]:before,
[class^="flaticon-a-"]:after, [class*=" flaticon-a-"]:after {   
  font-family: Flaticon Amenities;
        font-size: 20px;
font-style: normal;
}
.flaticon-a-airconditioned:before {
  content: "\e000";
}
.flaticon-a-badminton9:before {
  content: "\e001";
}
.flaticon-a-bicycle14:before {
  content: "\e002";
}
.flaticon-a-cable4:before {
  content: "\e003";
}
.flaticon-a-connection30:before {
  content: "\e004";
}
.flaticon-a-cooking35:before {
  content: "\e005";
}
.flaticon-a-cooking7:before {
  content: "\e006";
}
.flaticon-a-covered16:before {
  content: "\e007";
}
.flaticon-a-credit56:before {
  content: "\e008";
}
.flaticon-a-customerservice14:before {
  content: "\e009";
}
.flaticon-a-dog50:before {
  content: "\e00a";
}
.flaticon-a-first22:before {
  content: "\e00b";
}
.flaticon-a-flame11:before {
  content: "\e00c";
}
.flaticon-a-fun:before {
  content: "\e00d";
}
.flaticon-a-heating1:before {
  content: "\e00e";
}
.flaticon-a-kitchen56:before {
  content: "\e00f";
}
.flaticon-a-kitchen6:before {
  content: "\e010";
}
.flaticon-a-logotype117:before {
  content: "\e011";
}
.flaticon-a-man244:before {
  content: "\e012";
}
.flaticon-a-medical12:before {
  content: "\e013";
}
.flaticon-a-money385:before {
  content: "\e014";
}
.flaticon-a-network11:before {
  content: "\e015";
}
.flaticon-a-parking19:before {
  content: "\e016";
}
.flaticon-a-parking6:before {
  content: "\e017";
}
.flaticon-a-phonecall10:before {
  content: "\e018";
}
.flaticon-a-pipe9:before {
  content: "\e019";
}
.flaticon-a-plug38:before {
  content: "\e01a";
}
.flaticon-a-policeman1:before {
  content: "\e01b";
}
.flaticon-a-pool8:before {
  content: "\e01c";
}
.flaticon-a-public6:before {
  content: "\e01d";
}
.flaticon-a-public8:before {
  content: "\e01e";
}
.flaticon-a-racket1:before {
  content: "\e01f";
}
.flaticon-a-screens6:before {
  content: "\e020";
}
.flaticon-a-shopper1:before {
  content: "\e021";
}
.flaticon-a-shopping-cart8:before {
  content: "\e022";
}
.flaticon-a-smoke2:before {
  content: "\e023";
}
.flaticon-a-swimming21:before {
  content: "\e024";
}
.flaticon-a-tea24:before {
  content: "\e025";
}
.flaticon-a-temperature1:before {
  content: "\e026";
}
.flaticon-a-terrace:before {
  content: "\e027";
}
.flaticon-a-tub1:before {
  content: "\e028";
}
.flaticon-a-washingmachine3:before {
  content: "\e029";
}
.flaticon-a-yoga13:before {
  content: "\e02a";
}