$font_default: 'Roboto', Helvetica, Arial, sans-serif;
$imgPath: "../images";


$blue: #2378A7;
$red: #E25E66;
$green: #3db309;
$yellow: #f2a71a;

$color-default: #333;
$color-light:#aaa;
$gray-dark:#999;
$gray-medium:#ddd;
$gray-light:#f3f3f3;

$size-tooltip: 10px;
$size-xs:11px;
$size-s:12px;
$size-default:14px;
$size-m:16px;
$size-ml:18px;
$size-l:22px;
$size-xl:28px;
$size-xxl:36px;
$size-xxxl:52px;
