{% extends "_templates/layout.twig" %}

{% block page %}
<section class="content-detail">
  <div class="container text-center">
    <h2>Book name</h2>
    <p class="price">Giá: <b>700VND</b> 600VND (Giảm: 20%)</p>
    <div class="btn-wrapper">
	    <a href="#" class="btn">Mua ngay</a>
    </div>
    <img src="assets/images/art1.png" alt="" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <img src="assets/images/art3.png" alt="" />
    <img src="assets/images/art2.png" alt="" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <div class="btn-wrapper">
	    <a href="#" class="btn">Mua ngay</a>
    </div>
  </div>
</section>

<section class="book-relate" data-module="SliderBook">
  <div class="container">
    <h2 class="title-header">Sách bán cùng loại</h2>
    <div class="slider-wrapper">
      <div class="item">
        <figure>
          <a href="detail.html"><img src="assets/images/book.jpg" alt="" /></a>
          <span class="sale">Giam 10%</span>
        </figure>
        <h3><a href="detail.html">book name</a></h3>
        <p> Giá: <span class="price"><b>600$</b> <del>700$</del></span></p>
      </div>
      <div class="item">
        <figure>
          <a href="detail.html"><img src="assets/images/book.jpg" alt="" /></a>
          <span class="sale">Giam 10%</span>
        </figure>
        <h3><a href="detail.html">book name</a></h3>
        <p> Giá: <span class="price"><b>600$</b> <del>700$</del></span></p>
      </div>
      <div class="item">
        <figure>
          <a href="#"><img src="assets/images/book.jpg" alt="" /></a>
          <span class="sale">Giam 10%</span>
        </figure>
        <h3><a href="detail.html">book name</a></h3>
        <p> Giá: <span class="price"><b>600$</b> <del>700$</del></span></p>
      </div>
      <div class="item">
        <figure>
          <a href="#"><img src="assets/images/book.jpg" alt="" /></a>
          <span class="sale">Giam 10%</span>
        </figure>
        <h3><a href="detail.html">book name</a></h3>
        <p> Giá: <span class="price"><b>600$</b> <del>700$</del></span></p>
      </div>
    </div>
  </div>  
</section>


{% endblock %}