{% extends "_templates/layout.twig" %}

{% block page %}
<section class="content-detail">
  <div class="container text-center">
    <h2>Book name</h2>
    <p class="price">Giá: <b>700VND</b> 600VND (Giảm: 20%)</p>
    <div class="btn-wrapper">
	    <a href="#" class="btn">Mua ngay</a>
    </div>
    <img src="assets/images/art1.png" alt="" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <img src="assets/images/art3.png" alt="" />
    <img src="assets/images/art2.png" alt="" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <div class="btn-wrapper">
	    <a href="#" class="btn">Mua ngay</a>
    </div>
  </div>
</section>


{% endblock %}