{% extends "_templates/layout.twig" %}

{% block page %}
<section class="content-detail">
  <div class="container">
    <h2>Book name</h2>
    <img src="asdas" alt="" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea reiciendis, cumque reprehenderit nam optio pariatur magni illo accusamus sapiente assumenda aspernatur modi explicabo repellat, ab maiores sed praesentium voluptas.</p>
  </div>
</section>


{% endblock %}