{% extends "_templates/layout.twig" %}

{% block page %}
<section class="banner">
  <figure>
    <a href="#"><img src="assets/images/banner.jpg" alt="" /></a>
  </figure>
</section>

<section class="best-saler" data-module="SliderBook">
  <div class="container">
    <h2 class="title-header">Sách bán chạy nhất</h2>
    <div class="slider-wrapper">
      <div class="item">
        <figure>
          <a href="detail.html"><img src="assets/images/book.jpg" alt="" /></a>
          <span class="sale">Giam 10%</span>
        </figure>
        <h3><a href="detail.html">book name</a></h3>
        <p> Giá: <span class="price"><b>700$</b> 600$</span></p>
      </div>
      <div class="item">
        <figure>
          <a href="detail.html"><img src="assets/images/book.jpg" alt="" /></a>
          <span class="sale">Giam 10%</span>
        </figure>
        <h3><a href="detail.html">book name</a></h3>
        <p> Giá: <span class="price"><b>700$</b> 600$</span></p>
      </div>
      <div class="item">
        <figure>
          <a href="#"><img src="assets/images/book.jpg" alt="" /></a>
          <span class="sale">Giam 10%</span>
        </figure>
        <h3><a href="detail.html">book name</a></h3>
        <p> Giá: <span class="price"><b>700$</b> 600$</span></p>
      </div>
      <div class="item">
        <figure>
          <a href="#"><img src="assets/images/book.jpg" alt="" /></a>
          <span class="sale">Giam 10%</span>
        </figure>
        <h3><a href="detail.html">book name</a></h3>
        <p> Giá: <span class="price"><b>700$</b> 600$</span></p>
      </div>
    </div>
  </div>  
</section>

<section class="feedback text-center" data-module="SliderComment">
  <div class="container">
    
    <div class="slider-wrapper">
      <div class="comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maiores quam aspernatur! Numquam harum laborum dolorum cumque consectetur maiores culpa minus adipisci soluta! Soluta vitae consectetur maiores nulla, saepe, quisquam.</p>
        <h4>Hong nguyen</h4>
      </div>
      <div class="comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maiores quam aspernatur! Numquam harum laborum dolorum cumque consectetur maiores culpa minus adipisci soluta! Soluta vitae consectetur maiores nulla, saepe, quisquam.</p>
        <h4>Hong nguyen</h4>
      </div>
      <div class="comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maiores quam aspernatur! Numquam harum laborum dolorum cumque consectetur maiores culpa minus adipisci soluta! Soluta vitae consectetur maiores nulla, saepe, quisquam.</p>
        <h4>Hong nguyen</h4>
      </div>
      <div class="comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maiores quam aspernatur! Numquam harum laborum dolorum cumque consectetur maiores culpa minus adipisci soluta! Soluta vitae consectetur maiores nulla, saepe, quisquam.</p>
        <h4>Hong nguyen</h4>
      </div>
    </div>
  </div>
</section>
{% endblock %}