{% extends "_templates/layout.twig" %}

{% block page %}
<section class="banner">
  <figure>
    <a href="#"><img src="#" alt="" /></a>
  </figure>
</section>

<section class="best-saler">
  <div class="container">
    <div class="slide-wrapper">
      <div class="item">
        <figure>
          <a href="#"><img src="asdas" alt="" /></a>
          <span class="price">
            <b>700$</b>
            600$
          </span>
          <span class="sale">10%</span>
        </figure>
        <h3>book name</h3>
      </div>
      <div class="item">
        <figure>
          <a href="#"><img src="asdas" alt="" /></a>
          <span class="price">
            <b>700$</b>
            600$
          </span>
          <span class="sale">10%</span>
        </figure>
        <h3>book name</h3>
      </div>
      <div class="item">
        <figure>
          <a href="#"><img src="asdas" alt="" /></a>
          <span class="price">
            <b>700$</b>
            600$
          </span>
          <span class="sale">10%</span>
        </figure>
        <h3>book name</h3>
      </div>
      <div class="item">
        <figure>
          <a href="#"><img src="asdas" alt="" /></a>
          <span class="price">
            <b>700$</b>
            600$
          </span>
          <span class="sale">10%</span>
        </figure>
        <h3>book name</h3>
      </div>
    </div>
  </div>  
</section>

<section class="feedback">
  <div class="container">
    
    <div class="slide-wrapper">
      <div class="comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maiores quam aspernatur! Numquam harum laborum dolorum cumque consectetur maiores culpa minus adipisci soluta! Soluta vitae consectetur maiores nulla, saepe, quisquam.</p>
        <h4>Hong nguyen</h4>
      </div>
      <div class="comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maiores quam aspernatur! Numquam harum laborum dolorum cumque consectetur maiores culpa minus adipisci soluta! Soluta vitae consectetur maiores nulla, saepe, quisquam.</p>
        <h4>Hong nguyen</h4>
      </div>
      <div class="comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maiores quam aspernatur! Numquam harum laborum dolorum cumque consectetur maiores culpa minus adipisci soluta! Soluta vitae consectetur maiores nulla, saepe, quisquam.</p>
        <h4>Hong nguyen</h4>
      </div>
      <div class="comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maiores quam aspernatur! Numquam harum laborum dolorum cumque consectetur maiores culpa minus adipisci soluta! Soluta vitae consectetur maiores nulla, saepe, quisquam.</p>
        <h4>Hong nguyen</h4>
      </div>
    </div>
  </div>
</section>
{% endblock %}