<header data-module="Header">
  <nav>
    <a href="javascript:void(0);" class="btn-burger ">
      <span>Menu</span>
    </a>
    <ul class="nav__menu clearfix">
      <li class="active">
        <a href="#searchHeader">Trang chủ</a>
      </li>
      <li>
        <a href="listing.html">Về Mina</a>
      </li>
      <li>
        <a href="project.html">Phân loai</a>
        <ul>
          <li><a href="#">Tuổi</a></li>
          <li><a href="#">Mục đích</a></li>
        </ul>
      </li>
      <li>
        <a href="upload.html">Liên hệ</a>
      </li>
    </ul>
  </nav>
  <a class="cart icon-header" ><i class="fa fa-cart"></i></a>

  <a class="logo" href="\">
    <img src="./assets/images/global/logo.png" alt=""> 
  </a>
  
  <form id="searchHeader" class="wrapper-inputtags collapse">
    <div class="form-wrapper">
      <input type="text" value="" id="search-header" data-role="tagsinput" />
      <a class="close-form" href="#searchHeader" data-toggle="collapse"><i class="fa fa-close"></i></a>
      <a href="#0" class="btn-submit"><i class="fa fa-search"></i></a>
    </div>
  </form>
  <a class="search  icon-header" href="#"><i class="fa fa-search"></i></a>
</header>
<div class="bg-popup"></div>
