<header data-module="Header">
  <a href="javascript:void(0);" class="btn-burger ">
    <span>Menu</span>
    <i class="fa fa-cart"></i>
  </a>
  <a class="cart icon-header" ><i class="fa fa-cart"></i></a>

  <a class="logo" href="\">
    <img src="./assets/images/global/logo.png" alt=""> 
  </a>
  
  <a class="search  icon-header" href="#"><i class="fa fa-search"></i></a>
</header>
<nav class="nav__menu">
  <ul>
    <li class="active">
      <a href="#searchHeader">Trang chủ</a>
    </li>
    <li>
      <a href="listing.html">Về Mina</a>
    </li>
    <li>
      <a href="project.html">Phân loai</a>
      <ul>
        <li><a href="#">Tuổi</a></li>
        <li><a href="#">Mục đích</a></li>
      </ul>
    </li>
    <li>
      <a href="upload.html">Liên hệ</a>
    </li>
  </ul>
</nav>
<div class="bg-popup"></div>
