<header data-module="Header">

  <button type="button" class="hamburger is-closed show-for-small" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
  </button>
  
  <a class="cart icon-header" ><i class="fa fa-cart"></i></a>

  <a class="logo" href="\">
    <img src="./assets/images/global/logo.png" alt=""> 
  </a>
  
  <a class="search  icon-header" href="#"><i class="fa fa-search"></i></a>
</header>
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="sidebar-nav">
    <li class="active">
      <a href="index.html">Trang chủ</a>
    </li>
    <li>
      <a href="listing.html">Về Mina</a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle collapsed" data-toggle="dropdown">Phân loai <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Tìm sách theo</li>
        <li><a href="#">Tuổi</a></li>
        <li><a href="#">Mục đích</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="dropdown-toggle collapsed" data-toggle="dropdown">Liên hệ <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Thông tin liên lạc</li>
        <li><a href="#">Phone: <br />0900000009</a></li>
        <li><a href="#">Email: <br />abc@gmail.com</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div class="overlay"></div>
