.banner {
	margin-bottom: 0;
	img {
		width: 100%;
	}
}
.title-header{
	text-align: center;
}

.feedback {
	margin-top: 10px;
	p {
		max-width: 650px;
		margin: 0 auto;
	}
}

.item {
	position: relative;
	padding: 10px;
}

figure {
	position: relative;
}

.sale {
	background: #b31682;
	color: #fff;
	text-align: center;
	@include absolute(bottom 10px left -10px);
	font-weight: bold;
	padding: 5px;
	font-size: 16px;
}

.comment {
	p {
		&:before {
			content:'"';
			position:absolute;
			display: inline-block;
			margin-left: -5px;
		}
		&:after {
			content:'"';
			position:absolute;
			display: inline-block;
			margin-right: 5px;
		}
	}

}